<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>О нас</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body id="page-top">
<div id="wrapper">
    <nav th:insert="blocks/nav :: nav"
         class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 accent">
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="blocks/navSecond :: navSecond"></div>
            <div class="container-fluid">
                <h3 class="text-dark mb-1" style="padding: 0px 0px 24px;">О нас</h3>
                <div class="mb-3">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Facere fugiat minus obcaecati praesentium. Assumenda autem dolorum expedita laudantium vero.
                        Eligendi et laborum magnam maiores mollitia necessitatibus nihil quis quod veritatis!
                    </span>
                </div>
                <div>
                    <iframe allowfullscreen="" frameborder="0" loading="lazy"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGz6HJDVY9fht_jGVCprEpRCwZ8PSsqhc&amp;q=Minsk&amp;zoom=11"
                            width="75%" height="400"
                            style="box-shadow: 0px 0px 6px;border-radius: 5px;border: 1px solid rgb(255,255,255);width: 100%;margin-top: 15px;height: 500px;"></iframe>
                </div>
                <div>
                    <iframe allowfullscreen="" frameborder="0"
                            src="https://www.youtube.com/embed/LBNWehxbS2M?loop=1&amp;playlist=LBNWehxbS2M"
                            style="margin-top: 15px;" width="560" height="315"></iframe>
                </div>
            </div>
        </div>
        <footer th:insert="blocks/footer :: footer"
                class="bg-white d-lg-flex justify-content-lg-center align-items-lg-center sticky-footer mxh-40px">
        </footer>
    </div>
</div>
<script src="/js/min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>