<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Действия</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body id="page-top">
<div id="wrapper">
    <nav th:insert="blocks/nav :: nav"
         class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 accent">
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="blocks/navSecond :: navSecond"></div>
            <div class="container-fluid">
                <h3 th:text="'Действия ' + ${user.firstname} + ' ' + ${user.lastname} + ' - ' + ${user.role.name}"
                    class="text-dark mb-4"></h3>
                <form th:action="'/search/' + ${userId} + '/actions'" method="post" class="mb-20px">
                    <div class="row">
                        <div class="col">
                            <input th:value="${date}" class="form-select" type="date" name="date">
                        </div>
                        <div class="col mxw-100px">
                            <button class="btn btn-primary" type="submit">Поиск</button>
                        </div>
                    </div>
                </form>
                <div class="row mb-2">
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <strong class="text-dark">Действие</strong>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-250px">
                        <strong class="text-dark">Дата</strong>
                    </div>
                </div>
                <div class="row mb-5px" th:each="action : ${actions}">
                    <div class="col">
                        <input th:placeholder="${action.action}" type="text" class="form-control" readonly/>
                    </div>
                    <div class="col mxw-250px">
                        <input th:placeholder="${action.date}" type="text" class="form-control" readonly/>
                    </div>
                </div>
            </div>
        </div>
        <footer th:insert="blocks/footer :: footer"
                class="bg-white d-lg-flex justify-content-lg-center align-items-lg-center sticky-footer mxh-40px">
        </footer>
    </div>
</div>
<script src="/js/min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>