<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заявка на сборку</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body id="page-top">
<div id="wrapper">
    <nav th:insert="blocks/nav :: nav"
         class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 accent">
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="blocks/navSecond :: navSecond"></div>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Заявка на сборку</h3>
                <div th:if="${message}" class="text-center" style="margin-top: 20px;">
                    <div class="alert alert-primary" role="alert">
                        <strong><span th:text="${message}"></span></strong>
                    </div>
                </div>
                <form action="/device/add" method="post" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label text-dark">
                                <strong>
                                    Наименование сборки (обязательно)
                                </strong>
                            </label>
                            <input class="form-control" type="text" name="name"
                                   placeholder="Наименование сборки" required>
                        </div>
                        <div class="col">
                            <label class="form-label text-dark">
                                <strong>Тип устройства (обязательно)</strong>
                            </label>
                            <select class="form-select" name="type">
                                <option th:each="type : ${types}"
                                        th:value="${type}"
                                        th:label="${type.name}"
                                        th:if="${type != DeviceTypeAll}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label text-dark">
                                <strong>Короткое описание (опционально)</strong>
                            </label>
                            <input class="form-control" type="text" name="description" placeholder="Описание">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label text-dark">
                                <strong>Фотография (опционально)</strong>
                            </label>
                            <input class="form-control" type="file" name="file" accept="image/*">
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" style="margin-right: 10px;">Добавить</button>
                    <button class="btn btn-secondary" type="reset">Очистить</button>

                </form>
            </div>
        </div>
        <footer th:insert="blocks/footer :: footer"
                class="bg-white d-lg-flex justify-content-lg-center align-items-lg-center sticky-footer mxh-40px">
        </footer>
    </div>
</div>
<script src="/js/min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>