<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Вход</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">С возвращением!</h4>
                        </div>
                        <form class="user" method="post" action="/login">
                            <div class="mb-3">
                                <input class="form-control form-control-user fs-14px" type="email"
                                       placeholder="Введите адрес эл. почты" name="username" required>
                            </div>
                            <div class="mb-3">
                                <input class="form-control form-control-user fs-14px" type="password"
                                       placeholder="Введите пароль" name="password" required>
                            </div>
                            <button class="btn btn-primary w-100 bor-rad-160px" type="submit">
                                Войти
                            </button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="medium mr-10px" href="/reg">Регистрация</a>
                            <a class="medium ml-10px" href="/index">На главную</a>
                        </div>
                        <div th:if="${param.error}" class="text-center mt-20px">
                            <div class="alert alert-primary" role="alert">
                                <strong><span>Некорректный ввод логина или пароля</span></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>