<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Регистрация</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="bg-gradient-primary">
<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <div class="text-center">
                    <h4 class="text-dark mb-4">Создание профиля</h4>
                </div>
                <form class="user" method="post" action="/reg">
                    <div class="row mb-3">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input class="form-control form-control-user fs-14px" type="text"
                                   placeholder="Имя" name="username" required>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control form-control-user fs-14px" type="text"
                                   placeholder="Фамилия" name="lastname" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="form-control form-control-user fs-14px" type="email"
                               placeholder="Адресс эл. почты" name="email" required>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input class="form-control form-control-user fs-14px" type="password"
                                   placeholder="Пароль" name="password" required>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control form-control-user fs-14px" type="password"
                                   placeholder="Повторите пароль" name="passwordRepeat" required>
                        </div>
                    </div>
                    <button class="btn btn-primary w-100 bor-rad-160px" type="submit">
                        Добавить нового пользователя
                    </button>
                </form>
                <hr>
                <div class="text-center">
                    <a class="medium mr-10px" href="/login">Вход</a>
                    <a class="medium ml-10px" href="/index">На главную</a>
                </div>
                <div th:if="${message}" class="text-center mt-20px">
                    <div class="alert alert-primary" role="alert">
                        <strong><span th:text="${message}"></span></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center"></div>
<script src="/js/min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>