<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Статистика товаров</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body id="page-top">
<div id="wrapper">
    <nav th:insert="blocks/nav :: nav"
         class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 accent">
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="blocks/navSecond :: navSecond"></div>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Статистика товаров</h3>
                <div class="row mb-5px text-center">
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-dark">
                            <strong>Наименование</strong><br/>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-dark">
                            <strong>Цена</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-dark">
                            <strong>Количество</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-dark">
                            <strong>Прибыль</strong>
                        </label>
                    </div>
                </div>
                <div class="row mb-5px" th:each="i : ${incomes}">
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <input th:placeholder="${i.product.name}" type="text" class="form-control" readonly/>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <input th:placeholder="${i.product.price}" type="number" class="form-control" readonly/>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <input th:placeholder="${i.count}" type="number" class="form-control" readonly/>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <input th:placeholder="${i.income}" type="number" class="form-control" readonly/>
                    </div>
                </div>
            </div>
        </div>
        <footer th:insert="blocks/footer :: footer"
                class="bg-white d-lg-flex justify-content-lg-center align-items-lg-center sticky-footer mxh-40px">
        </footer>
    </div>
</div>
<script src="/js/min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>