<nav th:fragment="nav">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/index">
            <div class="sidebar-brand-text mx-3">
                <span>Mobile<br>Assembly</span>
            </div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <a class="nav-link" href="/index">
                    <i class="fas fa-table fa-fas"></i>
                    <span class="fs-16px">Устройства</span>
                </a>
            </li>
            <li th:if="${role != 'NOT'}" class="nav-item">
                <a class="nav-link" href="/myDevices">
                    <i class="fas fa-table fa-fas"></i>
                    <span class="fs-16px">Мои устройства</span>
                </a>
            </li>
            <li th:if="${role == 'ADMIN'}" class="nav-item">
                <a class="nav-link" href="/statsProducts">
                    <i class="far fa-list-alt fa-fas"></i>
                    <span class="fs-16px">Статистика товаров</span>
                </a>
            </li>
            <li th:if="${role == 'ADMIN'}" class="nav-item">
                <a class="nav-link" href="/actions">
                    <i class="fab fa-black-tie fa-fas"></i>
                    <span class="fs-16px">Действия</span>
                </a>
            </li>
            <li th:if="${role == 'TECHNICIAN' || role == 'TESTER'}" class="nav-item">
                <a class="nav-link" href="/service">
                    <i class="fas fa-table fa-fas"></i>
                    <span class="fs-16px">Обслуживаю</span>
                    <span th:if="${myDef}" class="badge bg-warning fs-14px"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">
                    <i class="fas fa-table fa-fas"></i>
                    <span class="fs-16px">Товары</span>
                </a>
            </li>
            <li th:if="${role != 'NOT'}" class="nav-item">
                <a class="nav-link" href="/products/my">
                    <i class="fas fa-table fa-fas"></i>
                    <span class="fs-16px">Мои покупки</span>
                </a>
            </li>
            <li th:if="${role == 'SALES_MANAGER'}" class="nav-item">
                <a class="nav-link" href="/products/add">
                    <i class="fas fa-plus fa-fas"></i>
                    <span class="fs-16px">Добавить товар</span>
                </a>
            </li>
            <li th:if="${role != 'NOT'}" class="nav-item">
                <a class="nav-link" href="/profile">
                    <i class="fa fa-users fa-fas"></i>
                    <span class="fs-16px">Профиль</span>
                </a>
            </li>
            <li th:if="${role == 'ADMIN'}" class="nav-item">
                <a class="nav-link" href="/profiles">
                    <i class="fa fa-users fa-fas"></i>
                    <span class="fs-16px">Пользователи</span>
                </a>
            </li>
            <li th:if="${role == 'NOT'}" class="nav-item">
                <a class="nav-link" href="/login">
                    <i class="far fa-user-circle fa-fas"></i>
                    <span class="fs-16px">Вход</span>
                </a>
            </li>
            <li th:if="${role == 'NOT'}" class="nav-item">
                <a class="nav-link" href="/reg">
                    <i class="fas fa-user-circle fa-fas"></i>
                    <span class="fs-16px">Регистрация</span>
                </a>
            </li>
            <li th:if="${role != 'NOT'}" class="nav-item">
                <a class="nav-link" href="/add">
                    <i class="fas fa-plus fa-fas"></i>
                    <span class="fs-16px">Заявка на сборку</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">
                    <i class="far fa-star fa-fas"></i>
                    <span class="fs-16px">О нас</span>
                </a>
            </li>
            <li th:unless="${role == 'NOT'}" class="nav-item">
                <form class="nav-link" action="/logout" method="post">
                    <i class="far fa-user-circle fa-fas"></i>
                    <button class="btn button-logout fs-16px">Выход</button>
                </form>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline">
            <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>